html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#ddf8ff,white,#7b4720);
    z-index: 5;
}

#canvasBack {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 10;
}

#canvasEnt {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 20;
}

#canvasComp {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 40;
}

#canvasGround {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 20;
}

.visible {
    display: inline;
}

.hidden {
    display: none;
}

#overlay {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.5;
}

#loader {
    z-index: 800;
    display: block;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-left: -128px;
    margin-top: -25px;
}

#assetLoaded {
    z-index: 800;
    display: block;
    position: absolute;
    top: 70%;
    width: 100%;
    color: white;
    font-family: "arial";
    font-weight: bold;
    text-align: center;
}


#regrasJogo {
    z-index: 800;
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    color: white;
    font-family: "arial";
    font-weight: bold;
    text-align: center;
}

#help {
    z-index: 800;
    display: block;
    position: absolute;
    top: 52%;
    width: 100%;
    color: white;
    font-family: "arial";
    font-weight: bold;
    text-align: center;
}

.endModal {
    display: none;
    position: fixed;
    z-index: 900;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


.endModal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Arial';
}